<h1>My Memories</h1>
<a href="{% url 'memory-create' %}">Add a memory</a>

<table>
    <tr>
        <th>Memories Name</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    {% for memory in memories %}
    <tr>
        <td>{{memory.memory_name}}</td>
        <td><a href="{% url 'memory-update' memory.id %}">Edit</a></td>
        <td><a href="{% url 'memory-delete' memory.id %}">Delete</a></td>
    </tr>
    {% empty %}
    <h3>You have no memories</h3>
    {% endfor %}
</table>